<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collecte des Préférences</title>
</head>
<body>
    <h1>Collecte des Préférences</h1>
    <form action="/submit" method="POST">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="pref_1">Préférence 1:</label>
        <input type="text" id="pref_1" name="pref_1" required><br><br>

        <label for="pref_2">Préférence 2:</label>
        <input type="text" id="pref_2" name="pref_2" required><br><br>

        <input type="submit" value="Soumettre">
    </form>

    <form action="/submit" method="post">
        <label for="note">Note :</label>
        <input type="range" id="note" name="note" min="0" max="10" step="1" value="5" oninput="afficherValeur(this.value)">
        <span id="valeurNote">5</span>
        
        <br><br>
        <button type="submit">Envoyer</button>
    </form>
    
    <script>
    function afficherValeur(valeur) {
        document.getElementById('valeurNote').textContent = valeur;
    }
    </script>
    
</body>
</html>
