<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collecte des Préférences</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Renseignement des préférences</h1>
        
            <h2>Résumé :</h2>
            <table>
                <tr>
                    <th>Décideurs</th>
                    <th>Alternatives</th>
                    <th>Critères</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
            </table>
        </header>
        
        <main>
            <h2>Préférences :</h2>
            <section>
                <form action="/submit" method="POST">
                    <fieldset>
                        <legend>Décideurs</legend>
                        <p>Veuillez sélectionner le décideur :</p>
                        <select name="decideur" id="decideur" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </fieldset>

                    <fieldset>
                        <legend>Critères</legend>
                        <p>Veuillez indiquer vos préférences concernant les différents critères :</p>
                        <p>Critère 1</p>
                        <input type="range" id="critere1" name="critere1" min="1" max="10" step="1" value="5" oninput="afficherValeurCritere1(this.value)"/>
                        <span id="valeurCritere1">5</span>
                        <p>Critère 2</p>
                        <input type="range" id="critere2" name="critere2" min="1" max="10" step="1" value="5" oninput="afficherValeurCritere2(this.value)"/>
                        <span id="valeurCritere2">5</span>
                        <p>Critère 3</p>
                        <input type="range" id="critere3" name="critere3" min="1" max="10" step="1" value="5" oninput="afficherValeurCritere3(this.value)"/>
                        <span id="valeurCritere3">5</span>
                    </fieldset>

                    <fieldset>
                        <legend>KPI</legend>
                        <table>
                            <tr>
                                <th>TABLEAU</th>
                                <th>KPI</th>
                            </tr>
                            <tr>
                                <th>A METTRE</th>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend>Alternatives</legend>
                        <p>Veuillez indiquer vos préférences concernant les différentes alternatives :</p>
                        <p>Alternative 1</p>
                        <input type="range" id="alternative1" name="alternative1" min="1" max="10" step="1" value="5" orient="vertical" required oninput="afficherValeurAlternative1(this.value)"/>
                        <span id="valeurAlternative1">5</span>
                        <p>Alternative 2</p>
                        <input type="range" id="alternative2" name="alternative2" min="1" max="10" step="1" value="5" orient="vertical" required oninput="afficherValeurAlternative2(this.value)"/>
                        <span id="valeurAlternative2">5</span>
                        <p>Alternative 3</p>
                        <input type="range" id="alternative3" name="alternative3" min="1" max="10" step="1" value="5" orient="vertical" required oninput="afficherValeurAlternative3(this.value)"/>
                        <span id="valeurAlternative3">5</span>
                    </fieldset>

                    <br><br>
                    <input type="submit" value="Soumettre">
                    <br><br>
                    <button type="button" onclick="dowload_csv">Téléchargement</button>
                </form>#onclick="window.location.href='/';"
            </section>
        </main>
        <script>
            function afficherValeurCritere1(valeur) {
                document.getElementById('valeurCritere1').textContent = valeur;
            }
            function afficherValeurCritere2(valeur) {
                document.getElementById('valeurCritere2').textContent = valeur;
            }
            function afficherValeurCritere3(valeur) {
                document.getElementById('valeurCritere3').textContent = valeur;
            }
            function afficherValeurAlternative1(valeur) {
                document.getElementById('valeurAlternative1').textContent = valeur;
            }
            function afficherValeurAlternative2(valeur) {
                document.getElementById('valeurAlternative2').textContent = valeur;
            }
            function afficherValeurAlternative3(valeur) {
                document.getElementById('valeurAlternative3').textContent = valeur;
            }
        </script>
    </body>
</html>
