<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='templates_config/icon/favicon_irit.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='templates_config/styles/style_general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='templates_config/styles/style_ranking.css') }}">
    </head>

    <body>
        <header>
            <h1>Page d'accueil</h1>
        </header>
        <main>
            <section>
                <fieldset>
                    <p align="center"><a href="redirection_configuration" ><button class=grey style="height:75px;width:150px">Configuration</button></a></p>
                    <p align="center"><a href="redirection_filling"><button class=grey style="height:75px;width:150px">Remplir ses préférences</button></a></p>
                </fieldset>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 IRIT. Tous droits réservés.</p>
        </footer>

        <script src="{{ url_for('static', filename='templates_config/scripts/script_home.js') }}" ></script>
    </body>
</html>